{% extends "base.html" %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <div class="btn-group">
        <a href="#" class="btn btn-primary my" id="low">Run car</a>
        <a href="#" class="btn btn-primary my" id="norm">Stop car </a>
        <a href="#" class="btn btn-primary my" id="hi">Recording</a>
    </div>
    <div class="col-xs-8 col-sm-5 col-md-5"><!-- center column -->
        <div class="thumbnail">
          <img id='mpeg-image', class='img-responsive' src="/video_cv"/> </img>
        </div>
    </div><!-- end center column -->
<script type="text/javascript">
    $(document).ready(function(){

        var recording_f = false;

        function ControlCarRun(move, recording){
            var data = new FormData();
            data.append('move', move);
            if(recording_f == true){
                data.append('recording', 'on');
            }else{
                data.append('recording', 'off');
            }
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/setparams', true);
            xhr.send(data);
        }

        $("#low").click(function(){
            ControlCarRun("forward", recording_f);
        })

        $("#norm").click(function(){
            ControlCarRun("stop", recording_f);
        })

        $("#hi").click(function(){
            if(recording_f == true){
                recording_f = false;
                console.log(recording_f);
            }else{
                recording_f = true;
                console.log(recording_f);
            }
        })

    });
</script>
{% end %}
